body {
    position: relative;
}


/* GRAPH 06 ALLUVIAL DIRECT CARE AREA */

.G06black {
    fill:#1A1A1A
}
.node{
    font-size:14px;
    fill:#1A1A1A;
    font-family:'Inconsolata';
    cursor: pointer;
    font-weight: bold;
}
.G06gruppi.idle {
    fill:#f2f2f2;
    font-weight: 100;
}
.G06grouprect {
    opacity: 0
}
.G06grouprect.G06recton {
    opacity:1;
    fill:#1a1a1a
}
.G06flusso_religioso{
    fill:#69E2C8
}
.G06flusso_politico{
    fill:#DB3400
}
.G06flusso_etnico{
    fill:#FFE19F
}
.G06variabili{
    font-size:12px;
    fill:#1A1A1A;
    font-family:'Inconsolata';
}
.G06legenda{
    fill:#FFFFFF;
    font-family:'Inconsolata';
    font-size:12px;
}
.G06flussi {
    opacity: 0.1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.G06on {
    opacity: 0.7
}
